@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moderustic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: linear-gradient(165deg, #896FBF,#6140C0, #3564BD,#3CA7D9);
  --brown: rgb(119, 244, 70);
  --grey: rgb(180, 176, 176);
  --white: white;
  --sky: #010830;
  --blue: rgb(109, 152, 251);
  --deep:rgb(12, 41, 74);
}
body {
  color: white;
  background: var(--background);
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1; 
  opacity: 0.8;
}



nav {
  background-color: rgb(19, 19, 49);
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: larger;
  transition: color 0.3s ease;
}

nav ul li a.active {
  color: var(--brown);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--blue);
}




nav .logo img {
  width: 40px;
}

.wrapper {
  background-color:linear-gradient(145deg,#745ac4,#ae98f0,#beaeee);
  box-shadow: 0 0px 4px #b7dff1;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  margin: 60px auto;
  height: 150vh;
  overflow: hidden;
  position: relative;
}


.wrapper:hover {
  overflow-y: auto; 
  scrollbar-width: none; 
}

.wrapper::-webkit-scrollbar {
  display: none; 
}

main {
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
}


/* Styling the first section */
.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  padding-left: 100px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  animation: fadeInFromLeft 1s forwards; 
}

.firstSection > div {
  flex: 1 1 45%;
  margin: 20px;
  transition: transform 0.5s ease-in-out;
}

.firstSection > div:hover {
  transform: scale(1.05);
}

/* Styling the left section */
.leftSection {
  font-size: 2.6rem;
  transition: color 0.3s ease-in-out;
  opacity: 0;
  animation: fadeInFromLeft 1s forwards;
  animation-delay: 0.5s; 
}

.leftSection .blue {
  color: var(--brown);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.leftSection .blue:hover {
  color: var(--deep);
}

/* Styling the element with ID #element */
#element {
  color: var(--brown);
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  opacity: 0;
  animation: fadeInFromRight 1s forwards; 
  animation-delay: 1s; 
}

#element:hover {
  color: var(--deep);
}

/* Styling the right section */
.rightSection img {
  width: 50%;
  max-width: 500px;
  margin: 50px 100px;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  animation: fadeInFromRight 1s forwards;
  animation-delay: 1.5s; 
}

.rightSection img:hover {
  transform: rotate(5deg);
}


main hr {
  border: 0;
  background: rgb(8, 8, 139);
  height: 1.2px;
  margin: 50px 84px;
 
}


.secondSection {
  margin: auto;
  max-width: 80vw;

}

.grey {
  color: var(--grey);
  /* transition: color 0.3s ease-in-out; */
}

.secondSection h1 {
  font-size: 2rem;
  color: var(--deep);
  font-weight: bold;

}


.secondSection .box {
  background: var(--white);
  width:55vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
  
}



.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: var(--white);
  margin: 0 130px;

}


.image-top {
  width: 25px;
  position: relative;
  top: -30px;
  left: -15px;
 
}



/* Keyframes for fade-in from left animation */
@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframes for fade-in from right animation */
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
}

.vertical-desc {
  position: relative;
  top: 75px;
  width: 150px;
  color: var(--grey);
  font-size: 14px;
}

footer {
  background-color: rgb(19, 19, 49);
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 160px;
}

.footer {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.firstFooter h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
}

.firstFooter .blue {
  color: var(--blue);
}


.secondFooter ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondFooter ul li {
  display: flex;
  align-items: center;
}

.secondFooter ul li a {
  text-decoration: none;
  color: var(--white);
  padding: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
}

.secondFooter ul li a img {
  width: 23px;
  margin-right: 8px; 
}

.secondFooter ul li a:hover {
  color: var(--white);
  border-radius: 4px;
}

.footer-rights {
  margin-top: 10px;
  font-size: 14px;
  color: var(--grey);
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  flex-wrap: wrap;
  color: var(--white);
}

.about-content {
  flex: 1 1 45%;
  margin: 20px;
}

.about-content h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: var(--deep);
  /* font-weight: bolder; */
  font-style: italic;
  text-align: center;
}

.about-content div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--sky);
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-main {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.service-main h4 {
  color: var(--deep);
  font-weight: bold;
  padding: 20px 0;
  font-size: 1.5em;
  margin-top: 40px;
}

.service-main h5 {
  padding: 10px 0;
  font-size: 1.2em;
  margin-top: 20px;
}

.service-main p {
  font-size: 13px;
  margin: 10px 0;
  line-height: 1.6;
}

.contact-section {
  max-width: 800px;
  margin: auto;
  padding: 20px 20px;
  border-top: 1px solid var(--white);
  margin-top: 40px;
}

.contact-section h4 {
  padding: 20px 0;
}

.contact-section p {
  padding-bottom: 10px;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
}

.social-media-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-weight: lighter;
}

.social-media-list img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.social-media-list a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

.social-media-list a:hover {
  text-decoration: underline;
}
